.contenedor {
  position: relative;
  text-align: center;
}
.imagefondo{
  height: 100vh;
  width: 100%;
}
.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Puedes ajustar el color del texto según tus necesidades */
  font-size: 24px; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold; /* Puedes ajustar el peso de la fuente según tus necesidades */
}
.about{
max-width: 75%;
margin: 0 auto;
font-size: larger;
}
.portafolio{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portafolioPrimario{
  justify-content: center;

  height: 50vh;
  background-color: rgba(190, 194, 140, 0.445);
  width: 100%;
  align-items: center;
  display: flex; /* Agrega esta línea para activar las propiedades flex */
  align-items: center;
  flex-direction: column;
}
.portafolioSecundario{
  justify-content: center;

  height: 50vh;
  background-color: rgba(204, 144, 95, 0.445);
  width: 100%;
  align-items: center;
  display: flex; /* Agrega esta línea para activar las propiedades flex */
  align-items: center;
  flex-direction: column;
}
.contacto{
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  max-width: 75%;
  height: 100vh;
}
.foter {
  background-color: black;
  width: 100%;
  height: 35px;
  color: white;
  text-align: center;
}
.body{
  background-color: rgba(187, 99, 27, 0.26);
}